@media (min-width: 992px) {
    .wrap {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .wrap {
        width: 1170px;
    }
}

@media (min-width: 1500px) {
    .wrap {
        width: 1470px;
    }
}

.wrap {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: inherit;
}

div.entry-content {
    width: 100% !important;
    margin: 0!important;
    padding: 0!important;
}

.has-sidebar .wrap aside#secondary {
    width: 20%;
}

.has-sidebar:not(.error404) .wrap div#primary {
    width: 80%;
    padding: 0 20px;
}

.cftm-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: row;

    /* overrite some classes */
    margin: 0;
    max-width: 100% !important;
}

.cftm-card-outer article {
    padding: 15px;
}

.cftm-card {
    width: 318px;
    cursor: pointer;
    z-index: 1;
    max-width: 409px;
    display: block;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(188, 202, 206, 0.5);
    -moz-box-shadow: 0px 5px 15px 0px rgba(188, 202, 206, 0.5);
    box-shadow: 0px 5px 15px 0px rgba(188, 202, 206, 0.5);
    position: relative;
    margin: 0 auto;
    border: 1px solid rgba(188, 202, 206, 0.3);
    height: 100%;
}

.cftm-card .cftm-profile-image {
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    height: 180px;
    width: 318px;
}

.cftm-title {
    padding: 24px 24px 12px 24px;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
}

.cftm-position {
    font-size: 14px;
    text-align: center;
    font-style: italic;
}

.cftm-social-media {
    text-align: center;
    padding: 10px 0;
    height: 44px;
}

.cftm-social-media a.dashicons {
    color: #2e6da4;
    font-size: 32px;
    width: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: none;
}

.cftm-description{
    padding: 12px 20px;
    display: none;
    font-size: 14px;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cftm-button-container {
    text-align: center;
    padding: 20px;
}