/*Button*/
.cftm-button {
    border-style: solid;
    border-width: 0px 0px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;
    padding: 12px 16px 9px;
    font-size: 16px;
    margin-right: 10px;
}

/*Green
==========================*/
.cftm-btn-green {

    border-color: #3AC162;
    background-color: #5FCF80;

}

.cftm-btn-green:hover, .cftm-btn-green:focus, .cftm-btn-green:active {
    background-color: #4BC970;
    border-color: #3AC162;
}

/*Blue
==========================*/
.cftm-btn-blue {

    border-color: #326E99;
    background-color: #3F8ABF;
}

.cftm-btn-blue:hover, .cftm-btn-blue:focus, .cftm-btn-blue:active {
    background-color: #397CAC;
    border-color: #326E99;
}

/*lime
==========================*/

.cftm-btn-lime {

    background-color: #19B5FE !important;
    border-color: #049de4 !important;

}

.cftm-btn-lime:hover, .cftm-btn-lime:focus, .cftm-btn-lime:active {
    background: none repeat scroll 0 0 #19B5FE !important;
    border-color: #049de4 !important;
    color: #d7d7d7;
}
